body {
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	font-weight: normal;
	font-family: "Roboto", "Arial", sans-serif;	
}

h1 {
	font-size: 24px;
	line-height: 30px;
	color: #323232;
	font-weight: 500;
	font-family: "Roboto", "Arial", sans-serif;	
}

h2 {
	font-size: 24px;
	line-height: 30px;
	color: #323232;
	font-weight: 700;
	font-family: "Roboto", "Arial", sans-serif;	
}

html, body {
	min-width: 1200px;
	margin: 0;
	padding: 0;
}

body {
	background: #849d8f ;
	min-width: 1200px;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.main-header {
}

.catalog-header {
	margin-bottom: 28px;
}

.container {
	width: 1146px;
	padding-left: 27px;
	padding-right: 27px;
	margin: 0 auto;
}

.main-header .main-logo {
	float: left;
	width: 149px;
}

.main-header .main-logo img {
	position: relative;
	right: 6px;
	top: 10px;
}

.catalog-header .main-logo {
	float: left;
	width: 149px;
}

.catalog-header .main-logo img {
	position: relative;
	right: 6px;
	top: 10px;
}


.index-navigation {
	float: left;
	width: 650px;
}

.index-navigation ul {
	margin: 0;
	padding: 0;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 23px;
	padding-bottom: 19px;
	
	list-style: none;
	font-size: 0;
}

.index-navigation ul li {
	display: inline-block;
	
	font-size: 16px;
	line-height: 18px;
	vertical-align: top;	
}

.index-navigation a {
	display: block;
	text-decoration: none;
	
	color: #ffffff;
	font-weight: 700;
	padding: 7px 15px;
	padding-bottom: 6px;
	border-radius: 17px;
}

.index-navigation a span {
	border-bottom: 1px solid rgba(255,255,255,0.2);
}

.index-navigation a:hover  span{
	border-bottom: 1px solid rgba(255,255,255,1);
}

.index-navigation a:hover {
	background-color: #ffffff;
	color: #333333;
}

.index-navigation a:active {
	box-shadow: inset 0 2px 2px #696969;
}

.catalog-navigation {
	float: left;
	width: 650px;
	
	/* только для создания разметки */
	min-height: 74px;
	outline: 1px solid pink;
}

.catalog-navigation ul {
	margin: 0;
	padding: 0;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 23px;
	padding-bottom: 19px;
	
	list-style: none;
	font-size: 0;	
}

.catalog-navigation ul li {
	display: inline-block;
	
	font-size: 16px;
	line-height: 18px;
	vertical-align: top;	
}

.catalog-navigation a {
	display: block;

	text-decoration: none;
	color: #ffffff;
	font-weight: 500; 
	padding: 7px 15px;
	padding-bottom: 6px;
	border-radius: 15px/17px;
}

.catalog-navigation a span {
	border-bottom: 1px solid rgba(255,255,255,0.2);
}

.catalog-navigation a:hover  span{
	border-bottom: 1px solid rgba(255,255,255,1);
}

.catalog-navigation a:hover {
	background-color: #ffffff;
	color: #333333;
}

.catalog-navigation a:active {
	box-shadow: inset 0 2px 2px #696969;
}

.catalog-navigation ul li > span {
	display: block;
	text-decoration: none;
	
	color: #ffffff;
	background-color: #d07058;
	font-weight: 500; 
	padding: 7px 15px;
	border-radius: 15px/17px;
}

.user-block {
	float: right;
	position: relative;
	font-size: 0;
	padding-top: 23px;
	padding-bottom: 19px;
	
}

.user-block .btn {
	display: inline-block;
	position: relative;
	margin-right: 9px;

	text-decoration: none;
	font-weight: 500;
	vertical-align: top;
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
	
	background-color: #9db1a5;
	border-radius: 17px;
	
}

.user-block .btn:hover {
	background-color: #f8f7f4;
	color: #323232;
}

.user-block .btn:active {
	box-shadow: inset 0 2px 2px #696969;
}

.user-block .btn-1{
	margin-left: 4px;
	width: 17px;
	height: 20px;
	
	padding-left: 7px;
	padding-right: 8px;
	padding-top: 7px;
	padding-bottom: 4px;
}

.user-block .btn-2{
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 45px;
	padding-right: 17px;
}

.user-block .btn-3{
	margin-right: 0;
	
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 46px;
	padding-right: 33px;
}

.user-block .btn-1::before {
	content: "";

	width: 20px;
	height: 20px;
	
    background-image: url("../img/sprite-icons.png");
    background-repeat: no-repeat;
    display: block;
    width: 17px;
    height: 17px;
    background-position: -5px -203px;
}

.user-block .btn-1:hover::before {
    width: 17px;
    height: 17px;
    background-position: -5px -176px;
}

.user-block .btn-2::before {
	content: "";
	position: absolute;
	left: 18px;
	top: 6px;
	
	width: 20px;
	height: 20px;
	
    background-image: url("../img/sprite-icons.png");
    background-repeat: no-repeat;
    display: block;
    width: 21px;
    height: 19px;
    background-position: -5px -124px;
}

.user-block .btn-2:hover::before {
    width: 21px;
    height: 19px;
    background-position: -5px -5px;
}

.user-block .btn-3::before {
	content: "";
	position: absolute;
	left: 18px;
	top: 6px;
	
	width: 20px;
	height: 20px;
	
	background-image: url("../img/sprite-icons.png");
    background-repeat: no-repeat;
    width: 21px;
    height: 20px;
    background-position: -5px -94px;
}

.user-block .btn-3:hover::before {
    width: 21px;
    height: 20px;
    background-position: -5px -34px;
}

.user-block  .full {
	padding-right: 17px;
	background-color: #f8f7f4;
	color: #323232;
}

.user-block  .full::before {
    width: 21px;
    height: 20px;
    background-position: -5px -64px;
}

.user-block .full:hover::before {
    width: 21px;
    height: 20px;
    background-position: -5px -64px;
}

.hours-phone-block {
	z-index: 2;
	min-width: 166px;
	position: absolute;
	top: 74px;
	right: 0;
	
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	text-align: right;
}

.hours-phone-block span {
	display: block;
	padding-bottom: 4px;
}

.hours-phone-block a {
	display: block;
	
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
	text-decoration: none;
	color: #ffffff;
}

.promo-slider {
	z-index: 1;
	margin-bottom: 39px;
}

.main-slide {
	margin-bottom: 42px;	
	position: relative;
	height: 532px;
}

.main-slide img {
	position: absolute;
	z-index: -1;
	top: -68px;
	left: 16px;
}

.sub-slide-1 {
	float: left;
	width: 560px;
	min-height:229px;
}

.sub-slide-2 {
	float: right;
	width: 560px;
	min-height:229px;
}

.slide-title {
	position: absolute;
	padding-left: 238px;
	padding-right: 238px;
	width: 670px;
	bottom: 94px;
}

.main-slide  b{
	display: block;
	
	font-size: 60px;
	line-height: 60.35px;
	text-align: center;
}

.slide-adj-block {
	position: absolute;
	bottom: 0;
	height: 63px;
	width: 1146px;
}

.slide-btns {
	position: absolute;
	top: 20px;
	
	font-size: 0;
}

.promo-slide-picker {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 8px;
	
	border: 2px solid #ffffff;
	border-radius: 20px;
	
}

.promo-slide-picker button {
	font-size: 0;
	padding: 0;
	margin: 0;
	position: relative;
	top: 0;
	right: 0;
	border: none;
	overflow: hidden;
	width: 17px;
	height: 17px;
	border-radius: 17px;
	background-color: transparent;
	background-repeat: no-repeat;
	cursor: pointer;
}

.promo-slide-picked {
	background-color: #ffffff;
}

.promo-slide-picker:not(.promo-slide-picked):hover button {
	background-color: #ffffff;
	opacity: 0.4;
}

.promo-slide-picker  button :active{
	background-color: #ffffff;
	opacity: 1;
}

.btn-main {
	display: inline-block;
	padding: 10px 0;
	width: 280px;
	margin: 0 434px;
		
	font-size: 32px;
	line-height: 44px;
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	font-weight: 700;
	text-shadow: 0 2px 2px #a0200b;
	background-color: #e74a35;
	background: linear-gradient(to top, #e74a35, #f26843);
	border-radius: 27px/32px;
	box-shadow: 0 2px 2px #a0200b;
}

.btn-main:hover {
	background-color: #ec6f5e;
	background: linear-gradient(to top, #ec6f5e, #f58669);
}

.btn-main:active {
	background-color: #e1613e;
	background: linear-gradient(to top, #e1613e, #d74632);
	box-shadow: inset 0 2px 2px #a0200b;
}

.sub-slide-1 {
	background-image: url("../img/raspberry-background.jpg");
	border-radius: 15px;
}

.sub-slide-2 {
	background-image: url("../img/choсolate-background.jpg");
	border-radius: 15px;
}

.sub-slides b {
	display: block;
	padding-top: 20px;
	padding-left: 21px;
	padding-bottom: 21px;
	padding-right: 21px;
	
	font-size: 35px;
	line-height: 41px;	
}

.sub-slides span {
	display: block;
	
	padding-bottom: 21px;
	padding-left: 21px;
	padding-right: 21px;
		
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
}

.btn-sub {
	display: inline-block;
	padding: 13px 24px;
	border: none;
	
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	color: #ffffff;
	text-decoration: none;
	background-color: #ca3824;
	background: linear-gradient(to top, #ca3824, #f26843);
	border-radius: 26px;
	box-shadow: 0 2px 2px rgba(85, 8, 0, 0.54);
}

.btn-sub:hover {
	color: #fceeec;
	background-color: #ec6f5e;
	background: linear-gradient(to top, #ec6f5e, #f58669);
}

.btn-sub:active {
	color: #fceeec;
	background-color: #e1613e;
	background: linear-gradient(to top, #e1613e, #d74632);
	box-shadow: inset 0 2px 2px #a0200b;
}

.sub-slide-1, .sub-slide-2 {
	position: relative;
}

.sub-slides .btn-sub {
	float: right;
	position: absolute;
	bottom: 23px;
	right: 21px;
}

.products {
	font-size: 0;
}

.catalog {
	font-size: 0;
	margin-bottom: 80px;
	
	/* только для создания разметки */
	outline: 1px solid grey;
}

.product-item {
	display: inline-block;
	vertical-align: top;
	width: 267px;
	margin-right: 26px;
	position: relative;
	padding-bottom: 40px;
}

.product-item:nth-child(4n){
	margin-right: 0;	
}

.product-label {
	position: absolute;
	
}

.product-item a {
	text-decoration: none;
}

.product-pic {
	display: block;
	position: relative;
	height: 268px;
	margin-bottom: 11px;
}

.product-price {
	display: block;
	position: absolute;
	bottom: 18px;
	
	color: #ffffff;
	font-size: 45px;
	line-height: 45px;
	text-shadow: 2px 2px rgba(49, 50, 53, 0.4);
	font-weight: 500;
}

.product-name {
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	font-weight: 200;
	text-align: center;
}

.product-name span {
	border-bottom: 1px solid rgba(255,255,255,0.2);
}

.features {
	margin-bottom: 41px;
	
	border-radius: 15px;
	background-color: #ede2c8;
	background-image: url("../img/corn-pattern.jpg");
	
}

.index-title {
	padding-top: 27px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.index-title h1 {
	padding: 0;
	margin: 0;
}

.feature-items {
}

.feature-items ul {
	font-size: 0;
	margin: 0;
	padding: 0;
	
	padding-bottom: 17px;
}

.feature-items ul li {
	display: inline-block;
	vertical-align: top;
	width: 540px;
	font-size: 16px;
	margin-right: 20px;
	margin-left: 20px;
}

.feature-items ul li:nth-child(1n) {
	margin-right: 0;
}

.feature-items ul li:nth-child(2n) {
	margin-left: 26px;
}

.feature-item-pic {
	float:left;
	width: 49px;
}

.feature-item-desc {
	float: right;
	width: 473px;
	padding: 12px 9px;
	
	color: #323232;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
}

.feature-item-desc p {
	padding: 0;
	margin: 0;
}

.addition-block {
	margin-bottom: 39px;
}

.blog {
	float: left;
	width: 520px;
	padding: 28px 20px;
	height: 164px;
	
	background-color: #ffffff;
	background-image: url("../img/strawberry-background.jpg");
	border-radius: 15px;
}

.blog p {
	padding: 0;
	margin: 0;
	margin-bottom: 14px;
	
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color:  #323232;
}

.blog a{
	font-size: 24px;
	line-height: 30px;
	color: #323232;
	font-weight: 700;
	text-decoration: underline;
}

.subscribe {
	float: right;
	width: 560px;
	height: 220px;
	
	border-radius: 15px;
	background-color: #f8f7f4;
	background-image: url("../img/postcard-pattern.png");
	background-repeat: repeat;
}

.subscribe-border {
	width: 510px;
	height: 144px;
	position: relative;
	top: 5px;
	left: 5px;
	padding: 30px 20px;
	padding-bottom: 36px;	
	
	border-radius: 15px;
	background-color: #f8f7f4;
}

.subscribe-border p {
	padding: 0;
	margin: 0;
	
	color: #5a5a5a;
}

.subscribe input[type="text"] {
	float: left;
	height: 44px;
	width: 336px;
	padding-left: 15px;
	padding-right: 15px;
		
	border-radius: 3px;
	border: 1px solid #b2b2b2;
	
	font-size: 16px;
	line-height: 24px;
}

.subscribe input[type="submit"] {
	float:right;
	width: 130px;
	height: 45px;
	
	padding: 0;
	
	text-align: center;
	vertical-align: middle;
}

.subscribe-adj {
	width: 508px;
	
	position: absolute;
	bottom: 36px;
}

.map {
	width: 1200px;
	margin: 0 auto;
	position: relative;
	height: 429px;
	
	background-color: #ffffff;
	background-image: url("../img/map.jpg");
	
}

.map-point {
	position: absolute;
	bottom: 152px;
	left: 267px;
}

.feedback {
	width: 252px;
	position: absolute;
	top: 63px;
	right: 27px;
	padding-top: 30px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 32px;
	
	background-color: #fdfefe;
	border-radius: 15px;
	font-size: 14px;
	line-height: 20px;
	color: #323232;
	font-weight: normal;
}

.feedback span, .feedback b, .feedback .phone {
	display: block;
	color: #323232;
}

.feedback span:last-of-type {
	padding-top: 0;
	padding-bottom: 30px;
}

.feedback b, .feedback a {
	display: block;
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	text-decoration: none;
}

.feedback b {
	padding-bottom: 25px;
}

.main-footer .footer-nav a, .main-footer .htmlacademy-block a {
	position: relative;
	text-decoration: none;
	font-size: 13px;
	line-height: 18px;
	color: #ffffff;
}

.main-footer .footer-nav a:hover, .main-footer .htmlacademy-block a:hover {
	color: #ffbc9e;
}

.main-footer .footer-nav a:active, .main-footer .htmlacademy-block a:active {
	color: #ffbc9e;
}

.main-footer .footer-nav a span, .main-footer .htmlacademy-block a  span {
	border-bottom: 1px solid rgba(255,255,255,0.2);
}

.main-footer .footer-nav a:hover span, .main-footer .htmlacademy-block a:hover span {
	border-bottom: 1px solid rgba(255,188,158,0.2);
}

.main-footer .footer-nav a:active span, .main-footer .htmlacademy-block a:active span {
	border-bottom: 1px solid rgba(255,188,158,0.2);
}

.social {
	float: left;
	width: 267px;
	padding-top: 37px;
}

.social a {
	display: inline-block;
	vertical-align: top;
	padding: 0;
	margin: 0;
	width: 31px;
	height: 31px;
	border: 3px solid rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	background-repeat: no-repeat;
}

.social a:nth-child(1){
	background-image: url("../img/tw.svg");
}

.social a:nth-child(2){
	background-image: url("../img/igm.svg");
}

.social a:nth-child(3){
	background-image: url("../img/fb.svg");
}

.social a:nth-child(4){
	background-image: url("../img/vk.svg");
}

.social a:hover {
	opacity: 1;
}

.social a {
	opacity: 0.8;
}

.social a:active {
    box-shadow: inset 0 2px 2px #696969;
}

.footer-nav {
	float: left;
	width: 586px;
	min-height: 104px;
}

.footer-nav ul {
	font-size: 0;
	padding: 0;
	margin: 0;
	padding-top: 36px;
}

.footer-nav ul li {
	display: inline-block;
	vertical-align: top;
	width: 293px;
	font-size: 13px;
}

.footer-nav ul li:nth-child(2n-1) {
	padding-left: 156px;
	width: 137px;
}

.footer-nav ul li:nth-child(2n) {
	padding-left: 5px;
	width: 288px;
}

.footer-nav ul li:first-child a::before{
	content:"";
	display: block;
	width: 15px;
	height: 13px;
	position: absolute;
	left: -22px;
	top: 1px;
	background-image: url("../img/sprite-icons.png");
    background-position: -5px -153px;
	
}

.htmlacademy-block {
	float: right;
	min-width: 195px;
}

.htmlacademy-block img {
	position: absolute;
	left: 0;
	top: 20px;
}

.htmlacademy-block a {
	display: block;
	font-size: 12px;
	line-height: 18px;
	
}

.htmlacademy-block a p {
	margin: 0;
	padding: 0;
	padding-top: 66px;
}

.breadcrumbs {
	margin-bottom: 12px;
	
	/* только для создания разметки */
	min-height: 13px;
	outline: 1px solid pink;
}

.breadcrumbs ul {
	margin: 0;
	padding: 0;
	font-size: 0;
	
	/* только для создания разметки */
	min-height: 13px;
	outline: 1px solid violet;
}

.breadcrumbs ul li {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;

	/* только для создания разметки */
	min-height: 13px;
	outline: 1px solid violet;
}

.title {
	margin-bottom: 28px;
	
	/* только для создания разметки */
	min-height: 33px;
	outline: 1px solid pink;
}

.filter {
	margin-bottom: 41px;
	
	/* только для создания разметки */
	min-height: 130px;
	outline: 1px solid pink;
}

.catalog-pagination {
	float: right;
	width: 190px;
	margin-bottom: 29px;
	
	/* только для создания разметки */
	min-height: 28px;
	outline: 1px solid pink;
}

.catalog-pagination ul {
	margin: 0;
	padding: 0;
	font-size: 0;
	
	/* только для создания разметки */
	min-height: 28px;
	outline: 1px solid violet;
}

.catalog-pagination ul li {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;

	/* только для создания разметки */
	min-height: 28px;
	outline: 1px solid violet;
}

.filter-1 {
	margin: 0;
	padding: 0;
	font-size: 0;
	margin-bottom: 17px;

	/* только для создания разметки */
	min-height: 58px;
	outline: 1px solid grey;
}

.filter-1 fieldset {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;

	/* только для создания разметки */
	min-height: 58px;
	outline: 1px solid violet;
}

fieldset {
	border: 0;
	margin: 0;
	margin-right: 15px;
}

.filter-2 {
	

	/* только для создания разметки */
	min-height: 58px;
	outline: 1px solid grey;
}