body {
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	font-weight: normal;
	font-family: "Roboto", "Arial", sans-serif;	
}

h1 {
	font-size: 24px;
	line-height: 30px;
	color: #323232;
	font-weight: 500;
	font-family: "Roboto", "Arial", sans-serif;	
}

h2 {
	font-size: 24px;
	line-height: 30px;
	color: #323232;
	font-weight: 700;
	font-family: "Roboto", "Arial", sans-serif;	
}

html, body {
	min-width: 1200px;
	margin: 0;
	padding: 0;
}

body {
	background: #849d8f ;
	min-width: 1200px;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.main-header {
}

.catalog-header {
	margin-bottom: 28px;
}

.container {
	width: 1146px;
	padding-left: 27px;
	padding-right: 27px;
	margin: 0 auto;
}

.main-header .main-logo {
	float: left;
	width: 149px;
}

.main-header .main-logo img {
	position: relative;
	right: 6px;
	top: 10px;
}

.catalog-header .main-logo {
	float: left;
	width: 149px;
}

.catalog-header .main-logo img {
	position: relative;
	right: 6px;
	top: 10px;
}


.index-navigation {
	float: left;
	width: 650px;
}

.index-navigation ul {
	margin: 0;
	padding: 0;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 23px;
	padding-bottom: 19px;
	
	list-style: none;
	font-size: 0;
}

.index-navigation ul li {
	display: inline-block;
	
	font-size: 16px;
	line-height: 18px;
	vertical-align: top;	
}

.index-navigation a {
	display: block;
	text-decoration: none;
	
	color: #ffffff;
	font-weight: 700;
	padding: 7px 15px;
	padding-bottom: 6px;
	border-radius: 17px;
}

.index-navigation a::after {
	content:"";
	display: block;
	border-bottom: 1px solid #ffffff;
	opacity: 0.2;
}

.index-navigation a::after:hover {
	content:"";
	display: block;
	border-bottom: 1px solid #f7f6f3;
	opacity: 1;
}

.index-navigation a:hover {
	background-color: #f7f6f3;
	color: #333333;
}

.index-navigation a:active {
	box-shadow: inset 0 2px 2px #696969;
}

.catalog-navigation {
	float: left;
	width: 650px;
	
	/* только для создания разметки */
	min-height: 74px;
	outline: 1px solid pink;
}

.catalog-navigation ul {
	margin: 0;
	padding: 0;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 23px;
	padding-bottom: 19px;
	
	list-style: none;
	font-size: 0;	
}

.catalog-navigation ul li {
	display: inline-block;
	
	font-size: 16px;
	line-height: 18px;
	vertical-align: top;	
}

.catalog-navigation a {
	display: block;

	text-decoration: none;
	color: #ffffff;
	font-weight: 500; 
	padding: 7px 15px;
	padding-bottom: 6px;
	border-radius: 15px/17px;
}

.catalog-navigation a::after {
	content:"";
	display: block;
	position: relative;
    top: -1px;
	border-bottom: 1px solid #ffffff;
	opacity: 0.2;
}

.catalog-navigation a::after:hover {
	content:"";
	display: block;
	border-bottom: 1px solid #f7f6f3;
	opacity: 1;
}


.catalog-navigation a:hover {
	background-color: #f7f6f3;
	color: #333333;
}

.catalog-navigation a:active {
	box-shadow: inset 0 2px 2px #696969;
}

.catalog-navigation span {
	display: block;
	text-decoration: none;
	
	color: #ffffff;
	background-color: #d07058;
	font-weight: 500; 
	padding: 7px 15px;
	border-radius: 15px/17px;
}

.user-block {
	float: right;
	position: relative;
	font-size: 0;
	padding-top: 23px;
	padding-bottom: 19px;
	
}

.user-block .btn {
	display: inline-block;
	position: relative;
	margin-right: 9px;

	text-decoration: none;
	font-weight: 500;
	vertical-align: top;
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
	
	background-color: #9db1a5;
	border-radius: 17px;
	
}

.user-block .btn:hover {
	background-color: #f8f7f4;
	color: #323232;
}

.user-block .btn:active {
	box-shadow: inset 0 2px 2px #696969;
}

.user-block .btn-1{
	margin-left: 4px;
	width: 17px;
	height: 20px;
	
	padding-left: 7px;
	padding-right: 8px;
	padding-top: 7px;
	padding-bottom: 4px;
}

.user-block .btn-2{
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 45px;
	padding-right: 17px;
}

.user-block .btn-3{
	margin-right: 0;
	
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 46px;
	padding-right: 33px;
}

.user-block .btn-1::before {
	content: "";

	width: 20px;
	height: 20px;
	
    background-image: url("../img/sprite-icons.png");
    background-repeat: no-repeat;
    display: block;
    width: 17px;
    height: 17px;
    background-position: -5px -203px;
}

.user-block .btn-1:hover::before {
    width: 17px;
    height: 17px;
    background-position: -5px -176px;
}

.user-block .btn-2::before {
	content: "";
	position: absolute;
	left: 18px;
	top: 6px;
	
	width: 20px;
	height: 20px;
	
    background-image: url("../img/sprite-icons.png");
    background-repeat: no-repeat;
    display: block;
    width: 21px;
    height: 19px;
    background-position: -5px -124px;
}

.user-block .btn-2:hover::before {
    width: 21px;
    height: 19px;
    background-position: -5px -5px;
}

.user-block .btn-3::before {
	content: "";
	position: absolute;
	left: 18px;
	top: 6px;
	
	width: 20px;
	height: 20px;
	
	background-image: url("../img/sprite-icons.png");
    background-repeat: no-repeat;
    width: 21px;
    height: 20px;
    background-position: -5px -94px;
}

.user-block .btn-3:hover::before {
    width: 21px;
    height: 20px;
    background-position: -5px -34px;
}

.user-block  .full {
	padding-right: 17px;
	background-color: #f8f7f4;
	color: #323232;
}

.user-block  .full::before {
    width: 21px;
    height: 20px;
    background-position: -5px -64px;
}

.user-block .full:hover::before {
    width: 21px;
    height: 20px;
    background-position: -5px -64px;
}

.hours-phone-block {
	z-index: 2;
	min-width: 166px;
	position: absolute;
	top: 74px;
	right: 0;
	
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	text-align: right;
}

.hours-phone-block span {
	display: block;
	padding-bottom: 4px;
}

.hours-phone-block a {
	display: block;
	
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
	text-decoration: none;
	color: #ffffff;
}

.promo-slider {
	z-index: 1;
	margin-bottom: 39px;
}

.main-slide {
	margin-bottom: 42px;	
	position: relative;
	height: 532px;
}

.main-slide img {
	position: absolute;
	z-index: -1;
	top: -68px;
	left: 16px;
}

.sub-slide-1 {
	float: left;
	width: 560px;
	min-height:229px;
}

.sub-slide-2 {
	float: right;
	width: 560px;
	min-height:229px;
}

.slide-title {
	position: absolute;
	padding-left: 238px;
	padding-right: 238px;
	width: 670px;
	bottom: 94px;
}

.main-slide  b{
	display: block;
	
	font-size: 60px;
	line-height: 60.35px;
	text-align: center;
}

.slide-adj-block {
	position: absolute;
	bottom: 0;
	height: 63px;
	width: 1146px;
}

.slide-btns {
	position: absolute;
	top: 20px;
	
	font-size: 0;
}

.promo-slide-picker {
	display: inline-block;
	margin-right: 8px;
	
	width: 20px;
	height: 20px;
	background-color: Transparent;
    background-repeat:no-repeat;
	border: 2px solid #ffffff;
	cursor: pointer;
	border-radius: 20px;
	overflow: hidden;
    outline:none;
}

.promo-slide-picker:last-child {
	margin-right: 0;
}

.promo-slide-picked {
	background-color: #ffffff;
}

.promo-slide-picker:not(.promo-slide-picked):hover {
	background-color: #ffffff;
	opacity: 0.4;
	border: 2px solid #ffffff;
}

.btn-main {
	display: inline-block;
	padding: 10px 0;
	width: 280px;
	margin: 0 434px;
		
	font-size: 32px;
	line-height: 44px;
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	font-weight: 700;
	text-shadow: 0 2px 2px #a0200b;
	background-color: #e74a35;
	background: linear-gradient(to top, #e74a35, #f26843);
	border-radius: 27px/32px;
	box-shadow: 0 2px 2px #a0200b;
}

.btn-main:hover {
	background-color: #ec6f5e;
	background: linear-gradient(to top, #ec6f5e, #f58669);
}

.btn-main:active {
	background-color: #e1613e;
	background: linear-gradient(to top, #e1613e, #d74632);
	box-shadow: inset 0 2px 2px #a0200b;
}

.sub-slide-1 {
	background-image: url("../img/raspberry-background.jpg");
	border-radius: 15px;
}

.sub-slide-2 {
	background-image: url("../img/choсolate-background.jpg");
	border-radius: 15px;
}

.sub-slides b {
	display: block;
	padding-top: 20px;
	padding-left: 21px;
	padding-bottom: 21px;
	padding-right: 21px;
	
	font-size: 35px;
	line-height: 41px;	
}

.sub-slides span {
	display: block;
	
	padding-bottom: 21px;
	padding-left: 21px;
	padding-right: 21px;
		
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
}

.btn-sub {
	display: inline-block;
	padding: 13px 24px;
	
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	color: #ffffff;
	text-decoration: none;
	background-color: #ca3824;
	background-color: linear-gradient(to top, #ca3824, #f26843);
	border-radius: 26px;
	box-shadow: 0 2px 2px rgba(85, 8, 0, 0.54);
}

.btn-sub:hover {
	color: #fceeec;
	background-color: #ec6f5e;
	background: linear-gradient(to top, #ec6f5e, #f58669);
}

.btn-sub:active {
	color: #fceeec;
	background-color: #e1613e;
	background: linear-gradient(to top, #e1613e, #d74632);
	box-shadow: inset 0 2px 2px #a0200b;
}

.sub-slide-1, .sub-slide-2 {
	position: relative;
}

.sub-slides .btn-sub {
	float: right;
	position: absolute;
	bottom: 23px;
	right: 21px;
}

.products {
	font-size: 0;
	margin-bottom: 36px;
	
	/* только для создания разметки */
	outline: 1px solid grey;
}

.catalog {
	font-size: 0;
	margin-bottom: 80px;
	
	/* только для создания разметки */
	outline: 1px solid grey;
}

.product-item {
	display: inline-block;
	vertical-align: top;
	width: 267px;
	margin-right: 26px;
	position: relative;
	
	/* только для создания разметки */
	min-height: 327px;
	outline: 1px solid pink;
}

.product-item:nth-child(4n){
	margin-right: 0;	
}

.product-label {
	position: absolute;
	
}

.product-item a {
	text-decoration: none;
}

.product-pic {
	display: block;
	position: relative;
}

.product-price {
	display: block;
	position: absolute;
	bottom: 18px;
	
	color: #ffffff;
	font-size: 45px;
	line-height: 45px;
	text-shadow: 2px 2px rgba(49, 50, 53, 0.4);
}

.product-name {
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	font-weight: 500;
	text-align: center;
}

.features {
	margin-bottom: 41px;
	
	/* только для создания разметки */
	min-height: 305px;
	outline: 1px solid grey;
}

.index-title {
	padding-top: 29px;
	padding-bottom: 10px;

	/* только для создания разметки */
	min-height: 93px;
	outline: 1px solid pink;
}

.feature-items {
	
	/* только для создания разметки */
	min-height: 213px;
	outline: 1px solid black;
}

.feature-items ul {
	font-size: 0;
	margin: 0;
	padding: 0;
		
	/* только для создания разметки */
	outline: 1px solid violet;
}

.feature-items ul li {
	display: inline-block;
	vertical-align: top;
	width: 540px;
	font-size: 16px;
	margin-right: 20px;
	margin-left: 20px;
	
	/* только для создания разметки */
	outline: 1px solid pink;
}

.feature-items ul li:nth-child(1n) {
	margin-right: 0;
}

.feature-items ul li:nth-child(2n) {
	margin-left: 26px;
}

.feature-item-pic {
	float:left;
	width: 49px;
	
	/* только для создания разметки */
	min-height: 89px;
	outline: 1px solid violet;
}

.feature-item-desc {
	float: right;
	width: 491px;
	
	/* только для создания разметки */
	min-height: 89px;
	outline: 1px solid violet;
}

.addition-block {
	margin-bottom: 39px;
	
	/* только для создания разметки */
	min-height: 219px;
	outline: 1px solid grey;
}

.blog {
	float: left;
	width: 560px;
	
	/* только для создания разметки */
	min-height: 219px;
	outline: 1px solid pink;
}

.subscribe {
	float: right;
	width: 560px;
	
	/* только для создания разметки */
	min-height: 219px;
	outline: 1px solid pink;
}

.map {
	width: 1200px;
	margin: 0 auto;
	position: relative;
	
	/* только для создания разметки */
	min-height: 429px;
	outline: 1px solid grey;
}

.map-point {
	
	/* указать координаты при добавлении карты */
}

.feedback {
	width: 302px;
	position: absolute;
	top: 63px;
	right: 27px;
	
	/* только для создания разметки */
	min-height: 306px;
	outline: 1px solid pink;
}

.main-footer {
	
	/* только для создания разметки */
	outline: 1px solid grey;
}

.catalog-footer {
	
	/* только для создания разметки */
	outline: 1px solid grey;
}

.social {
	float: left;
	width: 267px;
	
	/* только для создания разметки */
	min-height: 104px;
	outline: 1px solid pink;
}

.footer-nav {
	float: left;
	width: 586px;
	
	/* только для создания разметки */
	min-height: 104px;
	outline: 1px solid pink;
}

.footer-nav ul {
	font-size: 0;
	padding: 0;
	margin: 0;
}

.footer-nav ul li {
	display: inline-block;
	vertical-align: top;
	width: 293px;
	font-size: 13px;
	
	/* только для создания разметки */
	min-height: 18px;
	outline: 1px solid violet;
}

.htmlacademy-block {
	float: right;
	width: 242px;
	
	/* только для создания разметки */
	min-height: 104px;
	outline: 1px solid pink;
}

.catalog-social {
	float: left;
	width: 267px;
	
	/* только для создания разметки */
	min-height: 107px;
	outline: 1px solid pink;
}

.catalog-footer-nav {
	float: left;
	width: 586px;
	
	/* только для создания разметки */
	min-height: 107px;
	outline: 1px solid pink;
}

.catalog-footer-nav ul {
	font-size: 0;
	padding: 0;
	margin: 0;
}

.catalog-footer-nav ul li {
	display: inline-block;
	vertical-align: top;
	width: 293px;
	font-size: 13px;
	
	/* только для создания разметки */
	min-height: 18px;
	outline: 1px solid violet;
}

.catalog-htmlacademy-block {
	float: right;
	width: 242px;
	
	/* только для создания разметки */
	min-height: 107px;
	outline: 1px solid pink;
}

.breadcrumbs {
	margin-bottom: 12px;
	
	/* только для создания разметки */
	min-height: 13px;
	outline: 1px solid pink;
}

.breadcrumbs ul {
	margin: 0;
	padding: 0;
	font-size: 0;
	
	/* только для создания разметки */
	min-height: 13px;
	outline: 1px solid violet;
}

.breadcrumbs ul li {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;

	/* только для создания разметки */
	min-height: 13px;
	outline: 1px solid violet;
}

.title {
	margin-bottom: 28px;
	
	/* только для создания разметки */
	min-height: 33px;
	outline: 1px solid pink;
}

.filter {
	margin-bottom: 41px;
	
	/* только для создания разметки */
	min-height: 130px;
	outline: 1px solid pink;
}

.catalog-pagination {
	float: right;
	width: 190px;
	margin-bottom: 29px;
	
	/* только для создания разметки */
	min-height: 28px;
	outline: 1px solid pink;
}

.catalog-pagination ul {
	margin: 0;
	padding: 0;
	font-size: 0;
	
	/* только для создания разметки */
	min-height: 28px;
	outline: 1px solid violet;
}

.catalog-pagination ul li {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;

	/* только для создания разметки */
	min-height: 28px;
	outline: 1px solid violet;
}

.filter-1 {
	margin: 0;
	padding: 0;
	font-size: 0;
	margin-bottom: 17px;

	/* только для создания разметки */
	min-height: 58px;
	outline: 1px solid grey;
}

.filter-1 fieldset {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;

	/* только для создания разметки */
	min-height: 58px;
	outline: 1px solid violet;
}

fieldset {
	border: 0;
	margin: 0;
	margin-right: 15px;
}

.filter-2 {
	

	/* только для создания разметки */
	min-height: 58px;
	outline: 1px solid grey;
}